.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  width: 75%;
}
.list ul {
  display: flex;
}
.list li {
  list-style-type: none;
  padding: 1rem;
  color: #143d59;
  font-weight: bold;
  font-size: 1.6rem;
}
